client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?

client/.env

api/target/
api/.mvn/wrapper/maven-wrapper.jar
api/!**/src/main/**/target/
api/!**/src/test/**/target/

api/.apt_generated
api/.classpath
api/.factorypath
api/.project
api/.settings
api/.springBeans
api/.sts4-cache

api/.idea
api/*.iws
api/*.iml
api/*.ipr

api//nbproject/private/
api//nbbuild/
api//dist/
api//nbdist/
api//.nb-gradle/
api/build/
api/!**/src/main/**/build/
api/!**/src/test/**/build/

api/.env

.vscode/
